{
  "presets": [
    "react-native",
    "react-native-stage-0/decorator-support"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src",
          "./src/components"
        ],
        "alias": {
          "shared": "./src/components/shared",
          "screens": "./src/screens"
        }
      }
    ]
  ],
  "sourceMaps": true
}
